.showcase {
	text-align: center;
}

.landing {
	background: rgb(1, 0, 20);
	height: 100vh;
	position: relative;
}

.landing h2 {
	color: white;
	font-family: "Lobster", cursive;
	font-size: 6rem;
	padding: 4rem 0rem;
}

.spinner-background {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	font-size: 2rem;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 1);
	text-align: center;
}
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
